<launch>
    <arg name="input_compressed_topic"          default="/camera/image/left"/>
    <arg name="output_raw_topic"                default="/camera/image/left/image_raw"/>

    <node pkg="image_transport" type="republish" name="image_republish_node" output="screen"
          args="compressed in:=$(arg input_compressed_topic) raw out:=$(arg output_raw_topic)"/>
</launch>
